* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    border: 0;
    font: inherit;
    vertical-align: baseline;
}

.debug {
    /* border: 1px solid tomato; */
    box-shadow: 0 0 0 1px tomato inset;
}

canvas {
    display: block;
    width: 100%;
    height: 100%;
    background-color: #ffffff; 
}

#graph-container {
    position: relative;
    cursor: pointer; 
    touch-action: none; /* Important for preventing default touch actions like scrolling when interacting with canvas */
    width: 100dvw;
    height: 100dvh;
    -webkit-tap-highlight-color: transparent;
}

#graph-container:active {
    cursor: grabbing;
}